
/* header */
.main-container{
    max-width: 80vw;
    margin-left: 310px;
    margin-right: 0;
    position: relative;
    overflow: hidden;
    
}

.hidden{
    display: none;

}

.header__navigation{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 16px;
    margin: 10px;
    border-radius: 8px;
    background-color: #121212;

}




.header__navigation .navigation{
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: relative;
}

.header__navigation .navigation .arrow-left{
    margin-right: 1.25rem;
}

.arrow-left, .arrow-right{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 32px;
    height: 32px;
    background: var(--img-icon);
    background-color: var(--bg-arrow-color);
    border-radius: 50%;
    border: none;
    cursor: pointer;
    transition: 1s ease;
}


.arrow-left:hover, .arrow-right:hover{
    transform: scale(1.3);
    transition: 1s;
    background-color: #484848;
    position: relative;
}

.header__login{
    display: flex;
    align-items: center;
    position: relative;
}

.header__search{
    display: flex;
    align-items: center;
    width: 364px;
    height: 48px;
    margin-left: 8px;
    background-color: #242424;
    border-radius: 500px;
    border: 1px solid transparent;
    transition: 1s ease;
    position: relative;

}


.header__search:hover{
    transform: scale(1.1);
    transition: 1s;
}

.header__search img{
    width: 16px;
    height: 16px;
    margin-left: 10px;
}

.header__search input{
    background: transparent;
    border: none;
    padding: 0 100px 0 12px;
    color: #fff;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    outline: none;

}

.header__login .subscribe{
    color: #a7a7a7;
    font-size: 16px;
    font-weight: 700;
    background-color: transparent;
    margin-right: 32px;
    transition: 1s ease;
}

.header__login .subscribe:hover{
    transform: scale(1.1);
    transition: 1s;
    color: white;

}



.header__login .login{
    width: 100px;
    height: 48px;
    color: #000;
    font-size: 16px;
    font-weight: 700;
    border-radius: 40px;
    transition: 1s;
    position: relative;

}


.header__login .login:hover{
    transform: scale(1.1);
    color: rgb(255, 255, 255);
    background-color: rgb(38, 64, 157);
    transition: 1s;

}




